In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

/home/andraa/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
from datetime import datetime

In [3]:
pd.options.mode.chained_assignment = None

In [4]:
################# members csv #######################

In [5]:
members_df = pd.read_csv("/media/andraa/10160545101605451/kaggle/WSDM-kaggle/data/members.csv")

In [6]:
members_df.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,URiXrfYPzHAlk+7+n7BOMl9G+T7g8JmrSnT/BU8GmEo=,1,0,NaN,9,20150525,20150526
1,U1q0qCqK/lDMTD2kN8G9OXMtfuvLCey20OAIPOvXXGQ=,1,0,NaN,4,20161221,20161224
2,W6M2H2kAoN9ahfDYKo3J6tmsJRAeuFc9wl1cau5VL1Q=,1,0,NaN,4,20160306,20160309
3,1qE5+cN7CUyC+KFH6gBZzMWmM1QpIVW6A43BEm98I/w=,5,17,female,4,20161031,20161107
4,SeAnaZPI+tFdAt+r3lZt/B8PgTp7bcG/1os39u4pLxs=,1,0,NaN,4,20170202,20170205

In [7]:
members_df["gender"].fillna("no_gen", inplace = True)

In [8]:
members_df.dtypes

msno                      object
city                       int64
bd                         int64
gender                    object
registered_via             int64
registration_init_time     int64
expiration_date            int64
dtype: object

In [9]:
# see how many have set birth to be 0
len(members_df[members_df["bd"] == 0])

3421570

In [10]:
# see how many have declared an abberant age
len(members_df[(members_df["bd"] <=8 ) | (members_df["bd"] >=99 ) ])

3426211

In [11]:
# see how many have not declared age
len(members_df[members_df["gender"] == "no_gen"])

3354778

In [12]:
# create an indicator for those who have declared wrongly their age
members_df["false_age"] = 0

In [13]:
members_df[(members_df["bd"] <=8 ) | (members_df["bd"] >=99 )]["bd"] = 1

In [14]:
# convert the date of the registration_init and the expiration_date from int to datetime
def convert_date(x):
    x = str(x)
    date = datetime(year=int(x[0:4]), month=int(x[4:6]), day=int(x[6:8]))
    #date = datetime.strptime(date, "%Y-%m-%d")
    return date

members_df["registration_init_time"] = members_df["registration_init_time"].apply(lambda x : convert_date(x))

In [15]:
members_df["expiration_date"] = members_df["expiration_date"].apply(lambda x : convert_date(x))

In [16]:
members_df.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date,false_age
0,URiXrfYPzHAlk+7+n7BOMl9G+T7g8JmrSnT/BU8GmEo=,1,0,no_gen,9,2015-05-25,2015-05-26,0
1,U1q0qCqK/lDMTD2kN8G9OXMtfuvLCey20OAIPOvXXGQ=,1,0,no_gen,4,2016-12-21,2016-12-24,0
2,W6M2H2kAoN9ahfDYKo3J6tmsJRAeuFc9wl1cau5VL1Q=,1,0,no_gen,4,2016-03-06,2016-03-09,0
3,1qE5+cN7CUyC+KFH6gBZzMWmM1QpIVW6A43BEm98I/w=,5,17,female,4,2016-10-31,2016-11-07,0
4,SeAnaZPI+tFdAt+r3lZt/B8PgTp7bcG/1os39u4pLxs=,1,0,no_gen,4,2017-02-02,2017-02-05,0

In [17]:
# define the difference between the registration and the expiration
members_df["longivity"] = (members_df["expiration_date"]  - members_df["registration_init_time"] ).astype('timedelta64[D]')

In [18]:
members_df.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date,false_age,longivity
0,URiXrfYPzHAlk+7+n7BOMl9G+T7g8JmrSnT/BU8GmEo=,1,0,no_gen,9,2015-05-25,2015-05-26,0,1.0
1,U1q0qCqK/lDMTD2kN8G9OXMtfuvLCey20OAIPOvXXGQ=,1,0,no_gen,4,2016-12-21,2016-12-24,0,3.0
2,W6M2H2kAoN9ahfDYKo3J6tmsJRAeuFc9wl1cau5VL1Q=,1,0,no_gen,4,2016-03-06,2016-03-09,0,3.0
3,1qE5+cN7CUyC+KFH6gBZzMWmM1QpIVW6A43BEm98I/w=,5,17,female,4,2016-10-31,2016-11-07,0,7.0
4,SeAnaZPI+tFdAt+r3lZt/B8PgTp7bcG/1os39u4pLxs=,1,0,no_gen,4,2017-02-02,2017-02-05,0,3.0

In [ ]:
################# transactions csv #######################

In [4]:
transactions_df = pd.read_csv("/media/andraa/10160545101605451/kaggle/WSDM-kaggle/data/transactions.csv")

In [5]:
transactions_df.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

In [ ]:
# transform to date mem

In [38]:
transactions_df["membership_expire_date"] = transactions_df["membership_expire_date"].apply(lambda x : convert_date(x))
transactions_df["transaction_date"] = transactions_df["transaction_date"].apply(lambda x : convert_date(x))
transactions_df["early_action"] =(transactions_df["membership_expire_date"] - transactions_df["transaction_date"]).astype('timedelta64[D]')

In [40]:
transactions_df[transactions_df["early_action"]>0]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,early_action
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,2015-09-30,2015-11-01,0,0,32.0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,2015-09-30,2015-10-31,0,0,31.0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,2015-09-30,2016-04-27,0,0,210.0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,2015-09-30,2015-11-28,0,0,59.0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,2015-09-30,2015-11-21,0,0,52.0
5,KN7I82kjY0Tn76Ny95ncqBUVbO7b8AXrOPqZutKpxIM=,21,30,149,149,1,2015-09-30,2015-11-07,0,0,38.0
6,m5ptKif9BjdUghHXXomSezy5ohJiHm85PE13f/3kQaw=,39,30,149,149,1,2015-09-30,2015-11-28,0,0,59.0
7,uQxbyACsPOEkTIrv9jZgoGXelGBW81ZsSZKy9fhj5Z8=,39,30,149,149,1,2015-09-30,2015-11-25,0,0,56.0
8,LUPRfoE2r3WwVWhYO/TqQhjrL/qP6CO+/ORUlr7yNc0=,39,30,149,149,1,2015-09-30,2015-12-22,0,0,83.0
9,pMVjPLgVknaJYm9L0xUwxA2jmhpK7gfhGnsmmwX1mrE=,39,30,149,149,1,2015-09-30,2015-11-18,0,0,49.0
10,bQkbrEPdMfVfdsoz0RoWSmgYpHJuhRqtIml7aRUrFL8=,39,30,149,149,1,2015-09-30,2015-11-21,0,0,52.0
11,TZVCT9pCufI/AWjrG9s2fLbkpDI/8jRDAI6+PfQmTDs=,39,30,149,149,1,2015-09-30,2015-11-24,0,0,55.0
12,b2AiGMFhT6fbDyN12qnlALHKtj727HjUxCSGC9WeCi4=,39,30,149,149,1,2015-09-30,2015-11-17,0,0,48.0
13,ksInNb4D5jdSSIYUrNcoOJfAcrcNVxiMi8dAIMoh5cc=,39,30,149,149,1,2015-09-30,2015-11-29,0,0,60.0
14,aQKXNflQtXF92cpv4wxluXvUqJYy45NFy23kLYLSfgA=,39,30,149,149,1,2015-09-30,2015-11-11,0,0,42.0
15,iFxPpElVK6kXnZbuh5Di3ITpHtrkGNM73WbJG+zy05o=,39,30,149,149,1,2015-09-30,2015-11-22,0,0,53.0
16,8qrtRZQTuCih4YJhjEwvVdi9ojgltQnW5Rmqz3iMRXU=,39,30,149,149,1,2015-09-30,2015-11-06,0,0,37.0
17,pE2FeJOBZv5snDGdFuyQfDUenL8m84LB+gjG+njv0Dg=,39,30,149,149,1,2015-09-30,2015-11-14,0,0,45.0
18,vma4rQzDa/l4Wb/MyNxzI2YDuJIXlpL5xcw32BxaKLk=,39,30,149,149,1,2015-09-30,2015-11-23,0,0,54.0
19,Qw6UVFUknPVOLxSSsejinxU/8a5/AgmiWMvPoEt0rik=,39,30,149,149,1,2015-09-30,2015-11-08,0,0,39.0
20,G7TmHc9Gg2t8ovG/KFaB53We/0CQPELhZ5UUN2Ol3AQ=,39,30,149,149,1,2015-09-30,2015-11-13,0,0,44.0
21,T4XSZA0yn0xAe3pjL4PwR4Oi9KooBibT+S/3xmzEZLw=,39,30,149,149,1,2015-09-30,2015-11-19,0,0,50.0
22,pArK2x3bNZW0sAYaFg0h5c3xkx+2RhLa0RXG88jpt6I=,37,30,149,149,1,2015-10-01,2015-10-31,0,0,30.0
23,X3eZI5E4R0jhbOM5BVGe4V68OEmn/XMc84gds1W7H7o=,41,30,149,0,1,2015-10-01,2015-10-09,1,149,8.0
24,qNpZJ7gsMPAFSvc5V3kgqtFfUQU2SZe7XSUYOAfqtoA=,40,30,149,149,1,2015-10-01,2015-11-01,0,0,31.0
25,92L75JayJ2u+RZe0dp/tIuJjNqdnMlYum75v3zkD5oo=,40,30,149,149,1,2015-10-01,2015-11-01,0,0,31.0
26,WnxdSgeK3Vg4BIaioJQYilnL+E1SDxq+PZIwmmfTwgM=,34,0,0,149,1,2015-09-30,2015-10-31,0,-149,31.0
27,ir1jh/vWZ932FpSC2WeMxdOHQ+OkuUo3ZPQs8Ms4J9g=,34,0,0,149,1,2015-09-30,2015-10-31,0,-149,31.0
28,wZzIriSMn4Yh2sEU+yyPG+SEE/idQOSQhReC/zQwuXw=,34,0,0,149,1,2015-09-30,2015-10-31,0,-149,31.0
29,6takVibQdMIXYkAUF/EhmVUE0Juzl1IzbmG4++BIquY=,34,0,0,149,1,2015-09-30,2015-10-31,0,-149,31.0
...,...,...,...,...,...,...,...,...,...,...,...
21547709,R3LLs1+/1yTzfGty59FwPNM4lHww4WroKGj6lav4pPc=,40,30,149,149,1,2015-06-24,2015-07-23,0,0,29.0
21547710,aLTN1OmXvb/2Bv6wkJY84o/UT/fpAoVnGBOtL+DDhjw=,41,30,149,0,1,2015-11-29,2015-12-31,0,149,32.0
21547711,R/4nlSJUAq0ZijUhmbmIJ7aZ5O8bRbEtC+Db3dVXga8=,32,180,536,536,0,2015-11-30,2016-05-28,0,0,180.0
21547712,0lGr+05N1lpxQwEOSElU5pP13zdxFGF9C8mu1BZuLT4=,38,10,0,0,0,2015-11-30,2016-01-08,0,0,39.0
21547713,m94NDaPqIO79FGncnm1exE7CeQktsTGVy4xxwpEm0nY=,35,7,0,0,0,2016-06-30,2016-07-05,0,0,5.0
21547714,LaFk8LfHdRFbYsa2lKdSQqyQvF6yxJ1Iv8udU+fJWZw=,36,30,180,180,0,2016-06-30,2016-07-30,0,0,30.0
21547715,VXS80sN0yquHlgoTKlnr225oxDH9WhYtREljXcpH9YU=,38,30,149,149,0,2015-11-29,2015-12-29,0,0,30.0
21547716,SCcyKtz7L907X/yTsVIptRfTnSXtuf82DoQ3MdNNUW8=,41,30,99,99,1,2015-11-29,2015-12-31,0,0,32.0
21547718,xi3o038ZQKY5LCP8d8suDGBCMQOMjeQhAKHLCqolusw=,41,30,129,129,1,2015-12-30,2016-01-31,0,0,32.0
21547719,5ZpeUV2r+ri5/gJ4IgfNyd8IkZRoh0Lq8b2/idshQdI=,38,195,894,894,0,2015-12-30,2016-07-15,0,0,198.0
21547720,5NAqLKaOrvwIA39T2ylqkSQ+1U6oiZbPDBGyRlxoio0=,38,30,149,149,0,2017-01-31,2017-03-02,0,0,30.0
21547723,ze3QGwoK5FtYT3e2F8AdfydbTW5w2k2yDlGbpYATi18=,36,30,180,180,1,2016-12-30,2017-02-13,0,0,45.0
21547724,PRHNIlOWhvsop85xkafQu9eXGhJQDXz5+ppqQXGlpa8=,40,30,149,149,1,2016-12-30,2017-01-31,0,0,32.0
21547725,u2P0fChyTyfNijGqCyfFMnDkInmvuyhXLZWSxNwgzK8=,38,30,149,149,0,2016-01-29,2016-02-28,0,0,30.0
21547726,b/tNDTc7vH3cElR72GMVVCABh0qdlxP55ZfZkm9c0c4=,36,30,180,180,1,2016-12-28,2017-01-31,0,0,34.0
21547727,n1Ub8XrxUVwI9MyWl69up3t3Dk4OUT43leilUKVMioE=,36,30,180,180,0,2016-12-29,2017-01-28,0,0,30.0
21547728,BmQEWC+x+QCDCCMljhTGZhz7ztBo5ojKeEvlyExVPIA=,38,30,149,149,0,2016-02-29,2016-03-30,0,0,30.0
21547729,41e8KYQ9rPeJ2wkLBYimDPPTdIUi2uXjNE0Pqfv5/EU=,41,30,99,99,1,2016-02-29,2016-03-31,0,0,31.0
21547730,S2C7jc643c1gWUImL1im0568b0/B2wfI5MGynRXqHcc=,32,410,1788,1788,0,2015-09-30,2016-11-17,0,0,414.0
21547731,kWZFnrao0mn7LwU/gUpAcVrovEfgPeT0jUMMmBzkCHc=,40,30,149,149,1,2015-09-30,2015-10-31,0,0,31.0
21547732,ah2eWT3i+hHT/G3neFP5AT6MmUrPiDYGtFcOQZJzu3c=,36,30,180,180,1,2017-01-29,2017-02-16,1,0,18.0
21547733,/ZmFP2X1bZjqk1L4leHzmKTRc8N6wAx+vf+BcRpYoqU=,41,30,149,0,1,2015-10-30,2015-11-30,0,149,31.0
21547736,RcroSqTcuY65dsZ8+YYjSn6tvqLViTUBNtwkU/8syI4=,41,30,129,129,1,2016-09-30,2016-10-31,0,0,31.0
21547737,6FOISKyR4yGktX3n8ao4Lo8aGqS6WD210RN7cRE8wXg=,41,30,149,0,1,2015-08-31,2015-09-04,1,149,4.0
21547738,mkEfU0b1pjRXLv1XsxFjMy0wNF9fhh/EgfOLbM+IeKc=,36,30,150,150,0,2015-08-31,2015-09-30,0,0,30.0
21547740,tBYKG/I8+BAQ4BTrc0QT67BDurFV1QFJIc/1qhbZXj4=,41,30,99,99,1,2015-10-30,2015-11-30,0,0,31.0
21547741,6AO1oJjW3YT1adWzyWhzf8hlyjeOuQatudP8FF13UB4=,38,30,149,149,0,2015-10-30,2015-11-29,0,0,30.0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,2016-03-31,2016-05-30,0,0,60.0
21547743,VQ4KpwvezU3dqq6Bkqfjsmt4fn0JDRckkDoFFt0/UqM=,36,30,180,180,0,2016-11-29,2016-12-29,0,0,30.0
21547744,a84q/Ts47Oyyqc1N1WRasBdbgYSF/f3uqBcEAPNemoM=,41,30,99,99,1,2016-11-30,2016-12-31,0,0,31.0

In [6]:
# we want to see what is the discount distribution
transactions_df["discount"] = transactions_df["plan_list_price"] - transactions_df["actual_amount_paid"]

In [7]:
transactions_df.describe()

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
count,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07
mean,3.893310e+01,3.133906e+01,1.398850e+02,1.419873e+02,8.519661e-01,2.015760e+07,2.015862e+07,3.976523e-02,-2.102305e+00
std,3.507936e+00,3.035649e+01,1.309647e+02,1.324824e+02,3.551336e-01,6.155979e+03,7.755753e+03,1.954072e-01,4.753888e+01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015010e+07,1.970010e+07,0.000000e+00,-2.000000e+03
25%,3.800000e+01,3.000000e+01,9.900000e+01,9.900000e+01,1.000000e+00,2.015091e+07,2.015102e+07,0.000000e+00,0.000000e+00
50%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016032e+07,2.016043e+07,0.000000e+00,0.000000e+00
75%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016092e+07,2.016103e+07,0.000000e+00,0.000000e+00
max,4.100000e+01,4.500000e+02,2.000000e+03,2.000000e+03,1.000000e+00,2.017023e+07,2.017033e+07,1.000000e+00,6.990000e+02

In [37]:
transactions_df[transactions_df["discount"] < -150]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
4229,mvqeUO8IspCrNTVlZ4fRwBTS1YVBYbsGhEDmWgPF3cg=,32,0,0,536,0,20150501,20151031,0,-536
4467,56+symU54Q/1LYyd9XD5z0SrcR4l4lKSSaqZa8Nov4A=,38,0,0,894,0,20150428,20151109,0,-894
5283,71upN4HTnpKSZGZJCBPj7Kj8hgJKsWZUQRqop7axDTI=,22,0,0,1788,0,20150505,20160621,0,-1788
9760,/TgmB07TiHVZSo7KwPhmAcQMIHeHt/T9VYws8jfx1do=,13,0,0,1788,0,20150510,20160623,0,-1788
10713,BDNzoO0NTjzLiySPA7BqzuqfUU2H/0gvLEv8dHrcMVo=,32,0,0,799,0,20150426,20151028,0,-799
10714,/Atus9wCMz7RJjmsAUm1XKKodFP+4oJIh7s4y7KEpBY=,22,0,0,894,0,20150426,20151114,0,-894
13559,AoQ1+fHf6yU/dp2acaOEM5YjuSeuFNm5irjJ//FFCXs=,22,0,0,1788,0,20150501,20160617,0,-1788
14332,eT1YUatJIHuWFCm+8Nr/BX/aLSR+hRj4N9P93Hnm/a8=,38,0,0,894,0,20150504,20151116,0,-894
20633,DQJkojQ2W4xlxndsM18uc3dZMUqecDwEdw7rzR0zsiE=,32,0,0,536,0,20150428,20151028,0,-536
23404,/0jLhuEIn2g3nTcFoYuqO0Njtpm04mY3gW5j+Ua5HG4=,32,0,0,894,0,20150501,20151115,0,-894
25127,0mIVkiLnQY0xOhwtJS/M1Rft8DpFh6QjDRaktVMXpK4=,38,0,0,1788,0,20150513,20160626,0,-1788
26794,Wqikx9ZUQgRAB4ErJVCgGdFzCApgvMs/ujoUPij/j/E=,32,0,0,536,0,20150511,20151110,0,-536
37559,V0j+RmD/T6bI+p7gJjULBEYWJF2cXwcwjQ9r+LSLpno=,38,0,0,894,0,20150506,20151117,0,-894
37652,hJjBGyBeM/OHE8seH9QHuDFD9XQvFfIwl33ou+qFNkY=,32,0,0,536,0,20150426,20151026,0,-536
42016,esnBqivj+hfEiRYQu3s9ljmIgMdIhX9r4bm4PpW+Yho=,32,0,0,894,0,20150508,20151119,0,-894
47441,BAjx1JmNlyGXfXJWTbEvstZsOXKfP4MznQ64kbf7/X8=,32,0,0,1599,0,20150514,20160913,0,-1599
48074,miAS+z+ZAWWCeZI+7bDdZuKw1A00iLkVNe0t0E2aW4M=,32,0,0,536,0,20150507,20151106,0,-536
48078,lm2m9H94w+FHDg51wTatUgQiJfnmFOaL0qlVuO8jzr4=,38,0,0,1788,0,20150508,20160622,0,-1788
48155,UIpZGvECkO5G++NgYkJGucKVRezgYThEAEttMQwgrlw=,22,0,0,894,0,20150505,20151116,0,-894
50399,+Fisac+woFd91nWd3YeDMmcmT/5RAd85Ib3H/YaDnRY=,22,0,0,894,0,20150506,20151120,0,-894
64504,4Q10a6nylCrcqtkO1QAcUwpJyTTU6Uh8dWVrEkJBV0U=,32,0,0,1788,0,20150511,20160627,0,-1788
66500,DbpiZczdUhRzGRAsiNreIGvjrngUsCOl1quXVBE7BP8=,13,0,0,894,0,20150501,20151112,0,-894
69451,HQ60zpv2wVNB/YFPgV0ImZ1QVTEenUVoR1YGUDL5Lec=,22,0,0,1788,0,20150505,20160622,0,-1788
70024,su68v2h6jPt8xne7nnRDl4jC54EVcRj/Fwq9VWVzYdE=,22,0,0,1788,0,20150430,20160613,0,-1788
72721,QIUK7eK+O4GOZhtuEfXNawLLBaGHS8sdaMoBBoDLefI=,32,0,0,1788,0,20150509,20160622,0,-1788
84595,gWtTZPieJGRejbCQLrDiULcN/N+gDZZlPKvOYKIFn2Q=,32,0,0,536,0,20150424,20151021,0,-536
85533,i3B1hTPXScFOweqIUsXIxbbMOQz9JPEuQtb1ZKcZQf0=,38,0,0,894,0,20150429,20151112,0,-894
88505,llbrnymfK4uADs+tCytZVSJEYbDUuIxRRrVMq9PF2r0=,32,0,0,799,0,20150507,20151110,0,-799
88507,7t9FZ17Jfp8FJKMoFM8Wne/ieJevIzo8ZMlje6TmACE=,38,0,0,1788,0,20150508,20160731,0,-1788
88626,CGI9GklEpAOLJ192ofegNGAv7a/6f91ql5T5Vc+xn0w=,32,0,0,894,0,20150426,20151107,0,-894
...,...,...,...,...,...,...,...,...,...,...
21471062,661HB710Aj2iFAk/o030ja/+DfVmjzzryhY+OI18PwI=,32,0,0,894,0,20150424,20151108,0,-894
21474608,/cBhpppJ8TUBpyZD6LlErBbmPvTX1rCNZxfxGh/Eqak=,32,0,0,536,0,20150425,20151030,0,-536
21474632,/CiOl+XKBOD2U/PrMBeL89G4rLAbjL6k8poUXDwfJjY=,38,0,0,1788,0,20150427,20160621,0,-1788
21478419,VT+j/WVQXCiEYKEWftM+rALxQPMzgjwsFX3HGV12s7I=,22,0,0,1788,0,20150511,20160627,0,-1788
21486957,OyNovu4ciog5VG23FCJ0xH58atg5nup/AlaYrChdyHU=,38,0,0,894,0,20150502,20151113,0,-894
21488407,Wn9c1MqlSnyOphtXQlSR+2QXwU6T9ZT11iGw5BKrtZ4=,38,0,0,1788,0,20150512,20160628,0,-1788
21490055,nIS1/Eee0kVGrMGG3imJoJn6mMk2DQ6xbXvXT+6Z9ik=,32,0,0,1599,0,20150423,20160821,0,-1599
21495534,A7zj2lQor1EP3UsU/bcj5+Q7/8BzBQRBbfKOp/U0T6I=,32,0,0,1788,0,20150424,20160710,0,-1788
21500582,VMn8/F9udSPP+wQ+ckqlm9uWY1xjyUJpxvIq/2sEnFM=,32,0,0,1788,0,20150510,20160626,0,-1788
21500583,mfraAZ+dEh/Q9h0DQ5TMHDuT1rN90GnSi2WyDAqqtIk=,32,0,0,894,0,20150510,20151121,0,-894
21503000,KZvhBSFfCsuvfXIvjvWTH6ydQsbS5VT4DqwnnS0Nqog=,22,0,0,894,0,20150427,20151111,0,-894
21506020,gHIxeLNq67tSGm1Y+z2mcskfZi0fQEIPPvkbkiqMmWY=,32,0,0,536,0,20150509,20151105,0,-536
21506060,siGq05BVawcAsdUPrjxZVV86QiM4kp8GKsQo4aYkso8=,32,0,0,536,0,20150504,20151031,0,-536
21508960,0a4gd+TrHgEWZpXqRc8KgbqWLdiFAl4j4dRnnR/g7j4=,32,0,0,536,0,20150503,20151030,0,-536
21513904,91lUkQqO15BHSl+J+mLnaSPWCxTtvDfD/jJSQZcf4VA=,20,0,0,480,0,20150513,20150821,0,-480
21514661,lFEG1hDw/seW6PCH3xnak3F2qjfIv+0/KgDTtLFHiQw=,32,0,0,1788,0,20150428,20160617,0,-1788
21523273,nVVbgKRH+FYQUM9DyBdox8CfAGrcZoUO7can5duttIo=,32,0,0,536,0,20150511,20151110,0,-536
21526117,9TEQM8g6pa0Ogy7oAKe6u4FhA3vb2MRKvpuWaM4Agi0=,32,0,0,894,0,20150502,20151116,0,-894
21527562,PofkPwAcxIGADWo55yBOXo8aXDzxXtOGhPzKD6fgvgI=,38,0,0,1788,0,20150509,20160801,0,-1788
21527602,V8iQWdhCFFdpBzzHU/pia1bh0BycPODmDHbUHZrMkzA=,38,0,0,1788,0,20150504,20160617,0,-1788
21528664,uom/szaITg9csaLS+KQEnAEKBshHbemS209j9o34Ynw=,32,0,0,536,0,20150502,20151101,0,-536
21529162,BGJrsR0Q3q7qvaHR/2gKlkxIWmSIA39ZnXHi4nz1xxk=,28,0,0,1150,0,20150511,20151227,0,-1150
21529338,Mm9oZytZjXm0xcO5S2fJc+5fYp5gJVMJikbHhMiMdZQ=,32,0,0,1788,0,20150425,20160608,0,-1788
21529364,5FlC/ocDYfSm/UgGhhgWQqtwZyT8VTG5DBI82KUSv6s=,32,0,0,1788,0,20150427,20160613,0,-1788
21534765,vuf8G9wg3lXtxS264z6HrFeq4U3eFjgKXoDO0LVtQM0=,22,0,0,894,0,20150508,20151129,0,-894
21534842,8F7FeW/lfi23/1OLv3bJOVhaqY5BrRrYxJVHqNcvC9s=,5,0,0,894,0,20150505,20151119,0,-894
21538366,KSXxByMj6pfvgHHSW6mUyxZpJn86p5JueFjDnC+2AUs=,38,0,0,1788,0,20150503,20160616,0,-1788
21542276,qfiXF62ZCPqKigUs02vkE47jBFRp3d+XDkN48UeYPZk=,32,0,0,1788,0,20150503,20160619,0,-1788
21545799,ii0qLHEYtKIjaqGkQ2HryslmHIQH0DJz2DavzsJ4H48=,32,0,0,536,0,20150513,20151109,0,-536
21546733,LP60UVkdtMg9lFItp9v4PkxPL5p/hIS6SfeWcrtxqPU=,12,0,0,894,0,20150428,20151109,0,-894

In [8]:
transactions_df.groupby("msno").last().reset_index()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
0,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,35,7,0,0,0,20160909,20160914,0,0
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0,0
2,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,0
3,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20150630,20150819,0,0
4,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,30,149,149,1,20160126,20160226,0,0
5,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,41,30,149,149,1,20160815,20160915,0,0
6,++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=,32,195,894,894,0,20150819,20160301,0,0
7,++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=,11,31,149,149,1,20150124,20150225,0,0
8,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,39,30,149,149,1,20151102,20151223,0,0
9,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,14,30,149,149,1,20160430,20160604,0,0
10,++/gTmVgKUbNFmsTiriZdWV1uZIrLXCUiEWN0fEU6BM=,41,30,149,149,1,20151210,20160110,0,0
11,++/imsKMXignukHBIRfOhocobbR8Qk1Ew5mhjOCJg5A=,35,7,0,0,0,20150614,20150615,0,0
12,++0+IdHga8fCSioOVpU8K7y4Asw8AveIApVH2r9q9yY=,32,410,1788,1788,0,20150518,20160704,0,0
13,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,41,30,149,149,1,20160420,20160520,0,0
14,++02XbtviomSxcIBUHMOiJkjRxdicTXSfiVqLdsr5lo=,35,7,0,0,0,20161120,20161127,0,0
15,++096narOxHnDPtbtUtB4WDqDy8EJacQypdqDYBHmmY=,35,7,0,0,0,20161126,20161203,0,0
16,++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA=,38,30,149,149,0,20160523,20160622,0,0
17,++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY=,38,120,477,477,0,20161024,20170221,0,0
18,++0GCV3WGMjibrwCnDuVZXMoIxs1mnMRaD7rFJFU2Ho=,35,7,0,0,0,20161125,20161202,0,0
19,++0JQqGo/czgqG5qCY31TYkzV7WUMf2QWAS+OeIs//o=,35,7,0,0,0,20161129,20161206,0,0
20,++0KpReZV9DjNUlP6aQhK3MDLWaxbA6fvZKh4UaFc3w=,41,30,149,0,1,20150823,20150923,0,149
21,++0MHbl6tWtIajj1II8WXoqmt8HJyg8qdF7HFXqZsbs=,38,0,0,149,0,20150513,20150612,0,-149
22,++0XxUiOHZeYOgVDnJlFiXIp3Y7l+x4NLlaSEMOBrFI=,35,7,0,0,0,20161126,20161203,0,0
23,++0nOC7BmrUTtcSboRORfg6ZXTajnBDt1f/SEgH6ONo=,16,30,149,149,1,20151012,20151111,0,0
24,++0t0Uy2D3r1pRVxg28G3r3l5PfhFlCPMGElwHqbYL8=,35,7,0,0,0,20150614,20150615,0,0
25,++0wqjjQge1mBBe5r4ciHGKwtF/m322zkra7CK8I+Mw=,41,30,99,99,1,20160106,20160206,0,0
26,++1G0wVY14Lp0VXak1ymLhPUdXPSFJVBnjWwzGxBKJs=,41,30,99,99,1,20160909,20161009,0,0
27,++1GCIyXZO7834NjDKmcK1lBVLQi9PsN6sOC7wfW+8g=,41,30,99,99,1,20161204,20170104,0,0
28,++1SsMUpPBTruO9rzPk9p/OpgMorz3TzRd1howM1fqw=,41,30,149,0,1,20151018,20151020,1,149
29,++1TnybRWMiv1YN2UW5hyicLSm3AhDaU/89lFkZC//8=,41,30,149,0,1,20151213,20151213,1,149
...,...,...,...,...,...,...,...,...,...,...
2363596,zzwlIVmSuehTevzOi+WkcC7b3+MBYDiE4qybszTyhII=,40,30,149,149,1,20161011,20161118,0,0
2363597,zzwqRwQTk9XF8Z/sApLjZm/QD6A08kmdFfPBGi8xIGE=,35,7,0,0,0,20150602,20150615,0,0
2363598,zzwsW1MnZalh6V5BwYE+V6hFWyKJYOf+rFd+SWVXxp8=,41,30,99,99,1,20161208,20170205,0,0
2363599,zzx1qgX8R9EmT8PAn4/KyQ6s7PuLYTfR8kUCABiCW9E=,41,30,99,99,1,20161231,20170131,0,0
2363600,zzx4MmvaZjgHvBcOfqPX4PZPpo1FBuOrCbJMn+g9g7E=,40,30,149,149,1,20150715,20150713,1,0
2363601,zzx4hKiyR9XFEGAr7SAjcCPbKJCZ+IqegWL7dPjPwZk=,41,30,149,149,1,20160122,20160223,0,0
2363602,zzx7wcys2Nha6yP2Skjs+R1/JNAfEuAWUaAp0qsV2Cg=,41,30,129,129,1,20151106,20160204,1,0
2363603,zzx9r9Hc2SzisoCkp5i+oDZqRURAwMwVggtTafCMAvE=,35,7,0,0,0,20161024,20161031,0,0
2363604,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,39,30,149,149,1,20160731,20160910,0,0
2363605,zzxQsz+IFQArKdmrVoolrDr1UI2d2NuI5vCP2puPQdk=,41,30,149,0,1,20151014,20151016,1,149
2363606,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,30,149,149,1,20150710,20150810,0,0
2363607,zzxa/wrL2Ak1YxYqv218iF0XehDkxTzWkdaeXjx3jw0=,34,0,0,149,1,20150331,20150430,0,-149
2363608,zzxgQdCEh6RvCKlnIEyvxn315Q2L01DXNmoTaCqg96Q=,41,30,149,0,1,20150106,20150105,1,149
2363609,zzxi7n5xoTYo9Q3VTygLWvl/rBDcexwaeAry0yK7Q0E=,41,30,99,99,1,20161119,20161218,0,0
2363610,zzxp2iylK+x/+BUSMoAbrrmgUngDjMonM/+HSm1XgOo=,41,30,149,149,1,20160524,20160624,0,0
2363611,zzxqpgPX1epGyR3SVRKb3XitWdt+JqDURxV5ea1D7Cg=,20,100,480,480,0,20161022,20170130,0,0
2363612,zzy/TTClecSFRMLsbTlCSNX9PoqQJXmSO/uBWgOTKNk=,35,7,0,0,0,20150603,20150615,0,0
2363613,zzy4aXyTi7LkfQ77Z6PzRlJsrSOKxM21y4BSujGeo8k=,41,30,99,99,1,20160417,20160517,0,0
2363614,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,36,30,180,180,0,20161029,20161128,0,0
2363615,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,41,30,149,149,1,20150814,20150914,0,0
2363616,zzyuTnRVQQGxs0UN8qzU2Pedh3z8F7UeoiQpNhJRomM=,41,30,129,129,1,20151020,20151120,0,0
2363617,zzz/5bh+8EOZTpIRKWiiaAwEH4uYwfDUaiahJlvABiQ=,27,30,149,149,1,20160414,20160513,0,0
2363618,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,31,149,149,1,20150213,20150312,0,0
2363619,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20160504,20160605,0,0
2363620,zzz672Xpk1wKox75rJ5gak43ZkFQUV1f7Xek3jnPeRM=,35,7,0,0,0,20150605,20150615,0,0
2363621,zzz9+ZF4+GMyt63oU8xfjo1EkvRqH5OINlES0RUJI6I=,41,30,129,129,1,20160413,20160513,0,0
2363622,zzzF1KsGfHH3qI6qiSNSXC35UXmVKMVFdxkp7xmDMc0=,40,30,149,149,1,20170205,20170304,0,0
2363623,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0,0
2363624,zzztsqkufVj9DPVJDM3FxDkhlbCL5z4aiYxgPSGkIK4=,35,7,0,0,0,20150608,20150615,0,0
2363625,zzzyOgMk9MljCerbCCYrVtvu85aSCiy7yCMjAEgNYMs=,35,7,0,0,0,20150613,20150615,0,0

In [9]:
train_df = pd.read_csv("/media/andraa/10160545101605451/kaggle/WSDM-kaggle/data/train.csv")

In [12]:
columns_to_merge = ["msno","payment_method_id", "payment_plan_days", "plan_list_price", "is_auto_renew"]
train_transactions = train_df.merge(transactions_df.groupby("msno").last().reset_index()[columns_to_merge])

In [13]:
train_transactions.to_csv("/media/andraa/10160545101605451/kaggle/WSDM-kaggle/data/train_transactions.csv")

In [19]:
train_transactions = pd.read_csv("/media/andraa/10160545101605451/kaggle/WSDM-kaggle/data/train_transactions.csv")

In [20]:
train_transactions.head()

,Unnamed: 0,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,is_auto_renew
0,0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,38,30,149,0
1,1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,39,30,149,1
2,2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,36,30,150,0
3,3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,17,410,0,0
4,4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,38,30,149,0

In [23]:
columns_to_merge = ["msno","city", "gender", "registered_via", "false_age", "longivity"]
train_transactions_members = train_transactions.merge(members_df[columns_to_merge])

In [24]:
train_transactions_members.to_csv("/media/andraa/10160545101605451/kaggle/WSDM-kaggle/data/train_transactions_members.csv")

In [26]:
train_transactions_members.head()

,Unnamed: 0,msno,is_churn,payment_method_id,payment_plan_days,plan_list_price,is_auto_renew,city,gender,registered_via,false_age,longivity
0,0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,38,30,149,0,18,female,9,0,4537.0
1,1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,39,30,149,1,10,male,9,0,4366.0
2,2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,36,30,150,0,11,female,9,0,4128.0
3,3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,17,410,0,0,13,female,9,0,4346.0
4,4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,38,30,149,0,3,male,9,0,4291.0

In [27]:
columns = ["payment_method_id",	"payment_plan_days" ,	"plan_list_price" ,	"is_auto_renew", 	"city" ,	"gender", 	"registered_via" ,	"false_age" ,	"longivity"]

In [30]:
model = LogisticRegression()
model = model.fit(train_transactions_members["is_churn"], train_transactions_members[columns])

/home/andraa/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

ValueError: bad input shape (876143, 9)

In [31]:
train_transactions_members["is_churn"]

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
876113    0
876114    0
876115    0
876116    0
876117    0
876118    0
876119    0
876120    0
876121    0
876122    0
876123    0
876124    0
876125    0
876126    0
876127    0
876128    0
876129    0
876130    0
876131    0
876132    0
876133    0
876134    0
876135    0
876136    0
876137    0
876138    0
876139    0
876140    0
876141    0
876142    0
Name: is_churn, dtype: int64